<div class="col-xl-12 invoice-page purc-requ-prdct">
  <div class="card card-h-100">
    <div class="card-body" #invoice id="invoice">
      <div class="page-header" #pageHeader>
        <table class="table tbl-header">
          <tr class="border-bottom">
            <td colspan="17">
              <div class="d-flex" style="flex-direction: row;">
                <div class="d-flex">
                  <img style="margin: 0 5px 3px 0px;" [src]="'assets/images/logo/appicon.png'" alt="logo" height="100"
                    width="100" />
                </div>
                <div class="d-flex" style=" flex-direction: column; width: 100%; ">
                  <div class="d-flex" style="justify-content: space-between; flex-direction: row; ">
                    <div>
                      <label class="login-cmpny mb-0"> Lorem ipsum </label>
                      <p class="inv-cmpny-address break-space">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      </p>
                    </div>
                    <h4 class="text-end m-2 text-uppercase">Invoice</h4>
                  </div>
                  <div>
                    <div class="d-flex" style="justify-content: space-between;">
                      <div class="d-flex" style="flex-direction: column; width: 60%; flex-wrap: wrap;">
                        <div>
                          <label class="invoice-label" style="white-space: nowrap;">Contact
                            No.:&nbsp;<span>1234567890</span>
                          </label>
                        </div>
                        <div>
                          <label class="invoice-label"
                            style="white-space: nowrap;">Email:&nbsp;<span>test&#64;gmail.com</span>
                          </label>
                        </div>
                        <div>
                          <label class="invoice-label"
                            style="white-space: nowrap;">GSTIN:&nbsp;<span>22AAAAA0000A1Z5</span>
                          </label>
                          <label class="invoice-label" style="white-space: nowrap;">
                            <span>&nbsp;|&nbsp;</span>PAN No:&nbsp;<span>ABCTY1234D</span>
                          </label>
                        </div>
                      </div>

                      <div class="d-flex"
                        style="flex-direction: column; width: 40%; flex-wrap: wrap; align-content: flex-end; justify-content: end;">
                        <div>
                          <label class="invoice-label" style="white-space: nowrap;">Udyam
                            No.:&nbsp;<span> UDYAM-XY-07-1234567</span></label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="3" class="invoice-label">PO NO</td>
            <td colspan="3" class="invoice-label"></td>
            <td colspan="4" class="invoice-label">PO DATE</td>
            <td colspan="7" class="invoice-label">DELIVERY DATE / Days</td>
          </tr>
          <tr>
            <td colspan="3">INV/123/23-24</td>
            <td colspan="3"></td>
            <td colspan="4">26/03/2024</td>
            <td colspan="7">3 / 29/03/2024 </td>
          </tr>
        </table>
      </div>

      <table class="table align-middle table-nowrap table-centered mb-0 prdct-tbl">
        <thead>
          <tr>
            <td>
              <div class="page-header-space"></div>
            </td>
          </tr>
        </thead>

        <tbody class="page">
          <tr class="my-1 border-bottom">
            <td colspan="7" style="width: 50%;">
              <div>
                <label class="invoice-label">Supplier Details</label>
                <p class="invce-cmpny break-space">Lorem ipsum</p>
              </div>
              <div>
                <span class="break-space">Lorem ipsum dolor sit amet consectetur adipisicing elit. </span>
              </div>
              <div>
                <label class="invoice-label break-space">Kind attention: &nbsp;</label>
                <span>Abc Xyz</span>
              </div>
              <div>
                <label class="invoice-label break-space">contact no: &nbsp;</label>
                <span>7896541230</span>
              </div>
              <div>
                <label class="invoice-label break-space">GSTIN: &nbsp;</label> <span>22AAAAA0000A1Z5</span>
              </div>
              <div>
                <label class="invoice-label break-space">POS: &nbsp;</label> <span>Gujarat</span>
              </div>
            </td>
            <td colspan="10" style="width: 50%;">
              <div>
                <label class="invoice-label">Delivery At Details</label>
                <p class="invce-cmpny break-space">Test Abc</p>
              </div>
              <div>
                <span class="break-space">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</span>
              </div>
              <div>
                <label class="invoice-label break-space">Kind attention: &nbsp;</label>
                <span>Bob</span>
              </div>
              <div>
                <label class="invoice-label">contact no: &nbsp;</label> <span>7412589630</span>
              </div>
              <div>
                <label class="invoice-label break-space">GSTIN: &nbsp;</label> <span>22AAAAA0000A1Z5</span>
              </div>
              <div>
                <label class="invoice-label break-space">POS: &nbsp;</label> <span>Mumbai.</span>
              </div>
            </td>
          </tr>
          <tr class="my-1">
            <!-- <thead> -->
            <th class="prdct-head invoice-label text-start">SR. </th>
            <th class="prdct-head invoice-label text-start">CODE </th>
            <th class="prdct-head invoice-label text-left" colspan="4">DESCRIPTION </th>
            <th class="prdct-head invoice-label text-start" colspan="1">HSN </th>
            <th class="prdct-head invoice-label text-start">Unit </th>
            <th class="prdct-head invoice-label text-end">QTY</th>
            <th class="prdct-head invoice-label text-end">MRP</th>
            <th class="prdct-head invoice-label text-end">RATE</th>
            <th class="prdct-head invoice-label text-end">DISC% </th>
            <th class="prdct-head invoice-label text-end">GST%</th>
            <th class="prdct-head invoice-label text-end">AMOUNT </th>
            <!-- </thead> -->
          </tr>
          <tr>
            <td style="width: 4%;">1</td>
            <td style="width: 10%;">850087</td>
            <td colspan="4" class="break-space" style="width: 27%;">STUDY PEPS STELLAR WITH
              ERASER- set of 10</td>
            <td colspan="1" style="width: 9%;">96091000</td>
            <td style="width: 6%;">NOS</td>
            <td class="text-end" style="width: 5%;">8000</td>
            <td class="text-end" style="width: 8%;">70.00</td>
            <td class="text-end" style="width: 8%;">25.06 </td>
            <td class="text-end" style="width: 6%;"> </td>
            <td class="text-end" style="width: 6%;">12.00 </td>
            <td class="text-end" style="width: 11%;">224537.60 </td>
          </tr>

          <tr class="border-bottom border-top">
            <td class="fw-bold invoice-label">Total</td>
            <td colspan="7"></td>
            <td class="fw-bold text-end">8000</td>
            <td colspan="4"></td>
            <td class="fw-bold text-end"></td>
          </tr>

          <tr class="border-bottom">
            <td colspan="11" style="vertical-align: baseline;">
            </td>

            <ng-container>
              <td colspan="2">
                <div class="invoice-label">Gross Amount</div>
                <div class="invoice-label">Disc. Amount</div>
                <div class="invoice-label">Taxable Amount</div>
                <div class="invoice-label">IGST Amount</div>
                <div class="invoice-label">Round Of</div>
              </td>
              <td class="text-end" colspan="1">
                <div>₹ 200480.00</div>
                <div>₹ 200480.00 </div>
                <div>₹ 0.00</div>
                <div>₹ 24057.60</div>
                <div>₹ 0.40</div>
              </td>
            </ng-container>
          </tr>

          <tr class="border-bottom">
            <td colspan="11"></td>
            <td colspan="2" class="fw-bold invoice-label">Total Amount</td>
            <td class="text-end fw-bold">₹ 224538.00</td>
          </tr>

          <tr class="border-bottom">
            <td colspan="17">
              <label class="invoice-label">Terms and condition</label>
              <!-- <p class="mb-0 inv-terms break-space"> -->
              <ol>
                <li>Payment Terms <strong>50% Advance</strong>.</li>
                <li>Delivery Terms.</li>
                <li>Invoice submition at warehouse</li>
                <li>direct delivery at sun marketing</li>
              </ol>
              <!-- </p> -->
            </td>
          </tr>
        </tbody>

        <tfoot>
          <tr>
            <td>
              <!--place holder for the fixed-position footer-->
              <div class="page-footer-space"></div>
            </td>
          </tr>
        </tfoot>
      </table>

      <div class="page-footer">
        <table class="table tbl-footer">
          <tr class="border-bottom border-top">
            <td colspan="17" class="invoice-label">for office use only</td>
          </tr>
          <tr class="border-bottom">
            <td colspan="4">
              <label class="invoice-label mt-5">created by</label>
            </td>
            <td colspan="4">
              <label class="invoice-label mt-5">checked by</label>
            </td>
            <td colspan="4">
              <label class="invoice-label mt-5">approved by</label>
            </td>
            <td colspan="5">
              <label class="invoice-label mt-5">seller acceptance</label>
            </td>
          </tr>
        </table>

        <div class="page-counter"></div>
      </div>

    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-sm btn-action float-end" (click)="downloadPdf()">
        <i class="fa fa-print"></i> Print </button>
    </div>
  </div>
</div>
